*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F7F4EF;
    color:#111;
    font-family:'Cormorant Garamond', serif;

}

header{

    position:absolute;
    width:100%;
    padding:35px 80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:100;

}

.logo img{
    width:140px;
    height:auto;
}

nav{

    display:flex;
    gap:40px;

}

nav a{

    text-decoration:none;
    color:#111;

    font-size:20px;

}

.hero{
    height:100vh;

    background:
        linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)),
        url("images/hero.jpg") center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{

    max-width:700px;

}

.hero h2,
.hero p{
    color:white;
}

.button{
    display:inline-block;
    padding:18px 42px;

    border:1px solid #B08A4E;
    color:#B08A4E;
    text-decoration:none;

    transition:.3s;
}

.button:hover{
    background:#B08A4E;
    color:white;
}
.about{
    padding:140px 20px;
    background:#F7F4EF;
}

.container{
    width:min(1100px,90%);
    margin:auto;
}

.about h2{
    font-family:"Cinzel", serif;
    font-size:42px;
    margin-bottom:30px;
}

.about p{
    font-size:26px;
    line-height:1.8;
    max-width:700px;
}